{% extends 'base.html' %}

{% block add_form %}
<div>
    <form method="POST">
        <label for="barcode">Barcode</label>
        <input type="text" name="barcode" id="barcode">

        <label for="title">Title</label>
        <input type="text" name="title" id="title">

        <label for="color">Color</label>
        <input type="text" name="color" id="color">

        <label for="voltage">Voltage</label>
        <input type="text" name="voltage" id="voltage">

        <label for="resistance">Resistance</label>
        <input type="text" name="resistance" id="resistance">

        <label for="battery_source">Battery source</label>
        <input type="text" name="battery_source" id="battery_source">

        <button type="submit">Send</button>
    </form>
</div>
{% endblock %}


