<br>
<form method="GET" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="order_by">Sort Order:</label>
                <select class="form-control" id="order_by" name="order_by">
                    <option value="desc">Sort Descending</option>
                    <option value="asc">Sort Ascending</option>
                </select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="sort_by">Sort By:</label>
                <input type="text" class="form-control" id="sort_by" name="sort_by" placeholder="Sort By">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="min_voltage">Min Voltage:</label>
                <input type="text" class="form-control" id="min_voltage" name="min_voltage" placeholder="Min Voltage">
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label for="max_voltage">Max Voltage:</label>
                <input type="text" class="form-control" id="max_voltage" name="max_voltage" placeholder="Max Voltage">
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label for="min_capacity">Min Capacity:</label>
                <input type="text" class="form-control" id="min_capacity" name="min_capacity" placeholder="Min Capacity">
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label for="max_capacity">Max Capacity:</label>
                <input type="text" class="form-control" id="max_capacity" name="max_capacity" placeholder="Max Capacity">
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label for="min_resistance">Min Resistance:</label>
                <input type="text" class="form-control" id="min_resistance" name="min_resistance" placeholder="Min Resistance">
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label for="max_resistance">Max Resistance:</label>
                <input type="text" class="form-control" id="max_resistance" name="max_resistance" placeholder="Max Resistance">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label for="color">Color:</label>
                <input type="text" class="form-control" id="color" name="color" placeholder="Color">
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label for="source">Source:</label>
                <input type="text" class="form-control" id="source" name="source" placeholder="Source">
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>